body{
    background:#000;
    margin:0;
}

.content{
    background:linear-gradient(#00435e,#000);
    color:#DDD;
    padding:4em 2em 2em 2em;
}

.pageTitle{
    margin-bottom:1em;
    border:3px double #000;
    width: 350px;
    height: 120px;
}

.inputForms{
    border:1px solid #EEE;
    width:240px;
}
.playerForm{
    padding:0.8em 0.5em;
    background:#00488b;
}
.roomForms{
    padding:0.5em;
    background:#00213f;
}
.roomForm{
    padding-bottom:0.2em;
    padding-right:1em;
}
.passForm{
    padding-bottom:0.5em;
    height:24px;
    width:225px;

}

.roomTable{
    border-spacing:0px;
    background:#00213f;
    border:1px solid #DDD;
    margin-bottom:5px;
}
.roomTable td{
    padding:10px;
    text-align:center;
    width:7em;
}
.roomTable tr td:first-child{
    border-right:1px solid #DDD;
}

.roomTable tr:first-child{
    background:#003a70;
}
.roomTable tr:last-child td:nth-child(2){
    color:#00c6db;
}
.roomTable tr:last-child td:nth-child(3){
    color:#0D0;
}
.roomTable tr:last-child td:nth-child(4){
    color:#ddab40;
}
.roomTable tr:last-child td:nth-child(5){
    color:#ddee41;
}

.button{
    border:none;
    cursor: pointer;
    padding:3px 6px;
    border-radius:5px;
    transition-duration: 0.2s;
}

#createButton{
    background:#ec5;
    border:2px solid #ec5;
    color:rgb(56, 45, 7);
    font-size:14px;
}
#createButton:hover{
    background:rgb(56, 45, 7);
    color:#ec5;
}

.roomInButton{
    background:rgb(72, 204, 94);
    border:2px solid rgb(72, 204, 94);
    color:rgb(7, 56, 15);
    font-size:14px;
}
.roomInButton:hover{
    background:rgb(7, 56, 15);
    color:rgb(72, 204, 94);

}

#passwordFlag{
    cursor: pointer;
}

a{
    text-decoration:none;
}
.menubar a{
    color:#111;
}

.menubar{
    position:fixed;
    left:0;
    top:0;
    background:#EEE;
    width:100%;
    border-bottom:solid 1px #888;
}
.menubuttons{
    display: flex;
    justify-content: center;
    margin:0;
    padding:0;
    color:#111;
}
.menubutton{
    border-right:solid 1px #888;
    cursor:pointer;
    list-style-type:none;
    /*transition:background-color 0.5s linear 0;*/
    transition-duration:0.25s;
}
.menubutton a{
    display:block;
    padding:0.5em 1em;
}
.menubutton:nth-child(3){
    font-weight:bold;
}
.menubutton:first-child{
    border-left:solid 1px #888;
}
.menubutton:hover{
    background-color:#888;
    transition-duration:0.25s;
}
footer{
    width:100%;
    position:fixed;
    right:0;
    bottom:0;
    border-top:1px solid #888;
    background:#EEE;
    color:#111;
    text-align:right;
    padding-right:2em;

}